extends container.pug

block styles
    style.
        body, html {
            margin: 0;
            overflow: hidden;
            height:100%;
        }
        .chat-separator {
            border-left: 1px solid #333;
        }

        .scrollable {
            position: absolute;
            overflow-y: scroll;
        }
        
        .chat {
            width: 100%
        }

block script
    script(src='/js/chat.js')

block content
    nav(class='navbar navbar-expand-lg navbar-dark bg-dark')
        span(class="navbar-brand" id="usernameDisplay") username
        button(class='btn my-2 my-sm-0') Logout

    div(class='row chat')
        div(class='col-2 scrollable')
            ul(class='list-group' id='userList')

        div(class='col-8 chat-separator scrollable')
            nav(class="navbar fixed-bottom navbar-light bg-light")
                input(type='text')
            