extends container.pug

block styles
    style.
        .fixed-alert{
            position: relative;
            bottom: 5px;
            left:2%;
            width: 96%
        }

block script
    script(src='/js/login.js')

block modals
    //Login/Register modal
    div(class="modal fade" id="authModal" tabindex="-1" role="dialog" aria-labelledby="authModal" aria-hidden="true")
        div(class="modal-dialog modal-dialog-centered" role="document")
            div(class="modal-content")
                div(class="modal-header")
                    h5(class="modal-title" id="authModalTitle") Login
                    button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true")
                div(class="modal-body")
                    form(id='credentials')
                        div(class='form-group')
                            label(for='username' class="col-form-label") Username:
                            input(type='text' class="form-control" id="username" required)
                        div(class='form-group')
                            label(for='password' class="col-form-label") Password:
                            input(type='password' class="form-control" id="password" required)
                div(class="modal-footer")
                    button(type="button" class="btn btn-secondary" data-dismiss="modal") Close
                    button(type="button" class="btn btn-primary" id='modalActionButton') Login
    
    h3 Chat
    button(class='btn my-2 my-sm-0' onclick='openLoginModal()') Login
    button(class='btn my-2 my-sm-0' onclick='openRegisterModal()') Register